extends ./../../layouts/default.pug
include ./../../mixins/box-head.pug

block main 
    .container.my-3 
        .row 
            .col-12 
                +box-head("Danh sách sản phẩm")

        .row    
            each product, index in products 
                .col-4.mb-3 
                    .product-item
                        .inner-image 
                            img(src = `https://cdn.dummyjson.com/product-images/${product.position}/thumbnail.jpg` alt = product.title )
                        .inner-content  
                            h3.inner-title #{product.title}
                            .inner-price-new #{product.price}$
                            .inner-price-old #{(product.price * (1 + product.discountPercentage/100)).toFixed(0)}$
                            .inner-discount -#{product.discountPercentage}%

            
            
                