mixin form-change-multi(middle_path)
    form(
        id='form-change-multi'
        method="POST"
        action=`${prefixAdmin}/${middle_path}/change-multi?_method=PATCH`
        class="btn-toolbar justify-content-between"
    )

        .input-group
            .input-group-prepend
                select(class="custom-select" name="type")
                    option(disabled selected ) --- Chọn trạng thái ---
                    option(value="active") Hoạt động                            
                    option(value="inactive") Dừng hoạt động                            
                    option(value="delete-all") Xóa tất cả                            
                    option(value="change-position") Thay đổi vị trí                            

                input(type="text" class="form-control d-none" name="ids" placeholder="id sản phẩm")

            .input-group-append
                button(
                    type="submit" 
                    class=`btn btn-primary`
                ) Áp dụng
        
        
        
