mixin form-search(keyword)
    form(id='form-search')
        .input-group
            input(
                type="text" 
                class="form-control" 
                placeholder="Tìm kiếm..." 
                name="keyword"
                value=keyword
                )

            .input-group-append
                button(
                    type="submit" 
                    class=`btn btn-success`
                ) Tìm