mixin record-level-table(arr, level = 1)
    each item, index in arr
        - const prefix = Array(level + 1).join('-- ')
        tr 
            td(class="form-check")
                input(
                    type="checkbox" 
                    class="form-check-input position-static ml-1"
                    name="id"
                    value=item._id
                )
                
            td #{cnt++}
            td 
                img(src=item.thumbnail
                    alt="Sản phẩm 1"
                    width="100px"
                    style="aspect-ratio: 4/3"
                )
            td #{prefix}#{item.title}

            td
                input(
                    type="number"
                    class="form-control"
                    name="position"
                    value=item.position    
                )

            //- if else như js
            td 
                if(item.status == 'active')
                    a( 
                        href='javascript:;'
                        class="badge badge-success"
                        id = item._id
                        status= item.status
                    ) Hoạt động
                else
                    a(
                        href='javascript:;'
                        class="badge badge-danger"
                        id = item._id
                        status= item.status
                    ) Dừng hoạt động

            td 
                a(
                    type="button" 
                    href=`${prefixAdmin}/products-category/detail/${item._id}`
                    class="btn btn-info btn-sm mr-1"
                ) Chi tiết
                a(
                    type="button" 
                    href=`${prefixAdmin}/products-category/edit/${item._id}`
                    class="btn btn-warning btn-sm mr-1"
                ) Sửa
                a(
                    type="button" 
                    class="btn btn-danger btn-sm"
                    data-id=item._id 
                    button-delete-product
                ) Xóa
        if (item.children)
            +record-level-table(item.children, level + 1)