mixin record-level-table(arr, level = 1)
    each item, index in arr
        - const prefix = Array(level + 1).join('-- ')
        tr 
            if (roles.permission.includes('product-category_edit') || roles.permission.includes('product-category_delete'))
                td(class="form-check")
                    input(
                        type="checkbox" 
                        class="form-check-input position-static ml-1"
                        name="id"
                        value=item._id
                    )
                
            td(class='text-center') #{cnt++}
            td(class='text-center') 
                img(src=item.thumbnail
                    alt="Ảnh danh mục"
                    width="100px"
                    style="aspect-ratio: 4/3"
                )
            td(class='text-left') #{prefix}#{item.title}

            if (roles.permission.includes('product-category_edit'))
                td(class='text-center')
                    input(
                        type="number"
                        class="form-control"
                        name="position"
                        value=item.position    
                    )
            else 
                td(class='text-center')
                    input(
                        type="number"
                        class="form-control"
                        name="position"
                        value=item.position  
                        readonly  
                    )

            //- if else như js
            if (roles.permission.includes('product-category_edit'))
                td(class='text-center') 
                    if(item.status == 'active')
                        a( 
                            href='javascript:;'
                            class="badge badge-success"
                            id = item._id
                            status= item.status
                        ) Hoạt động
                    else
                        a(
                            href='javascript:;'
                            class="badge badge-danger"
                            id = item._id
                            status= item.status
                        ) Dừng hoạt động
            else 
                td(class='text-center') 
                    if(item.status == 'active')
                        a( 
                            href='javascript:;'
                            class="badge badge-success"
                        ) Hoạt động
                    else
                        a(
                            href='javascript:;'
                            class="badge badge-danger"
                        ) Dừng hoạt động

            td(class='text-center') 
                a(
                    type="button" 
                    href=`${prefixAdmin}/products-category/detail/${item._id}`
                    class="btn btn-info btn-sm mr-1"
                ) Chi tiết
                if (roles.permission.includes('product-category_edit'))
                    a(
                        type="button" 
                        href=`${prefixAdmin}/products-category/edit/${item._id}`
                        class="btn btn-warning btn-sm mr-1"
                    ) Sửa
                if (roles.permission.includes('product-category_delete'))    
                    a(
                        type="button" 
                        class="btn btn-danger btn-sm"
                        data-id=item._id 
                        button-delete-product
                    ) Xóa
        if (item.children)
            +record-level-table(item.children, level + 1)