extends ../../layouts/default.pug

block main 
    .container.my-2
        .row    
            .col-3.my-5.label
                .d-flex.justify-content-between
                    .mt-1.font-weight-bold Đoạn chat
                    .mt-1 
                        a(title='Tạo nhóm chat' class='btn btn-sm btn-light border border-dark rounded-circle' href='/group-chat/create') 
                            i(class="fa-solid fa-plus") 

                form.mt-1()
                    .input-group.input-group-sm
                        input(
                            type="text" 
                            class="form-control"     
                            placeholder="Tìm kiếm..." 
                            name="keyword"
                            value=keyword || undefined
                            autocomplete='off'
                        )

                        .input-group-append
                            button(
                                type="submit" 
                                class=`btn btn-secondary`
                            ) 
                                i(class="fa-solid fa-magnifying-glass")
                    
                hr.mt-1
                .btn-group-vertical.btn-block 
                    each roomChat in roomsChat
                        a(class='form-control btn btn-sm btn-light text-left label-chat border-top border-bottom' href=`/chat/${roomChat._id}`) 
                            .inner-avatar 
                                img(
                                    src=(roomChat.avatar || '/images/group-chat-avatar.jpg')
                                    )  
                                span(class='status-light' status=roomChat.statusOnline)
                            .inner-name 
                                span #{roomChat.title}
                                span.inner-content.p-0.text-muted Bạn: :))                   

            .col-9 
                .row.my-5 
                    .col-12
                        .chat(my-id=user.id)
                            .inner-head.d-flex.justify-content-between.align-items-center 
                                div
                                    .inner-avatar 
                                        img(
                                            src=(currRoomChat.avatar ||'/images/group-chat-avatar.jpg')
                                            )  
                                        span(class='status-light' status=currRoomChat.statusOnline)
                                    .inner-name 
                                        span #{currRoomChat.title}
                                        span.status-online.text-muted #{(currRoomChat.statusOnline == 'online') ? 'Online' : 'Offline'}
                                div.mr-3 
                                    if (currRoomChat.typeRoom == 'group')
                                        button.btn.btn-light.rounded-circle.setting-chat-icon
                                            i(class="fa-solid fa-list-ul")
                                    
                                        div(class="card setting-chat border border-info d-none" style="width: 18rem;")
                                            div(class="card-body")
                                                .inner-avatar.text-center 
                                                    img(src=(currRoomChat.avatar || '/images/group-chat-avatar.jpg'))
                                                .inner-name.text-center 
                                                    b #{currRoomChat.title}

                                            ul(class="list-group list-group-flush")
                                                li(class="list-group-item pr-2 pl-2 pt-1 pb-1 item-setting") 
                                                    div.d-flex.justify-content-between.align-items-center.item-list-setting 
                                                        small Tùy chỉnh đoạn chat
                                                        small(style='font-size: 10px') 
                                                            i(class="fa-solid fa-chevron-right")
                                                            i(class="fa-solid fa-chevron-down d-none")
                                                    
                                                    div.list-setting
                                                        p.m-0.item-list-setting.d-none 
                                                            small(style='font-size: 10px')
                                                                i(class="fa-solid fa-pen-to-square mr-2") 
                                                                | Đổi tên đoạn chat 

                                                        p.m-0.item-list-setting.d-none  
                                                            small(style='font-size: 10px') 
                                                                i(class="fa-solid fa-image mr-2")
                                                                |Thay đổi ảnh 

                                                li(class="list-group-item pr-2 pl-2 pt-1 pb-1 item-setting") 
                                                    div.d-flex.justify-content-between.align-items-center.item-list-setting 
                                                        small Thành viên trong đoạn chat
                                                        small(style='font-size: 10px') 
                                                            i(class="fa-solid fa-chevron-right")
                                                            i(class="fa-solid fa-chevron-down d-none")
                                                    
                                                    div.list-setting
                                                        each user of currRoomChat.infoUsers
                                                            p.m-0.item-list-setting.d-none 
                                                                span.inner-avatar 
                                                                    img(src=user.avatar)
                                                                span.inner-name #{user.fullName}  
                                                                span.setting-user 
                                                                    i(class="fa-solid fa-ellipsis")

                                                        p.m-0.item-list-setting.d-none 
                                                            small(style='font-size: 10px')
                                                                i(class="fa-solid fa-plus mr-2") 
                                                                | Thêm người 

                                                li(class="list-group-item pr-2 pl-2 pt-1 pb-1 item-setting") 
                                                    div.d-flex.justify-content-between.align-items-center.item-list-setting 
                                                        small Quyền riêng tư & bảo mật
                                                        small(style='font-size: 10px') 
                                                            i(class="fa-solid fa-chevron-right")
                                                            i(class="fa-solid fa-chevron-down d-none")
                                                    
                                                    div.list-setting
                                                        p.m-0.item-list-setting.d-none
                                                            small(style='font-size: 10px')
                                                                i(class="fa-solid fa-right-from-bracket mr-2")
                                                                | Rời nhóm
                                                        p.m-0.item-list-setting.d-none
                                                            small(style='font-size: 10px')
                                                                i(class="fa-solid fa-trash mr-2")
                                                                | Xóa nhóm 


                            .inner-body 
                                each chat in chats 
                                    div(class = (user.id == chat.userInfo.id ? 'inner-outgoing' : 'inner-incoming'))
                                        if (user.id != chat.userInfo.id) 
                                            .inner-avatar 
                                                img(
                                                    src= chat.userInfo.avatar
                                                )  

                                        .inner-text 
                                            if (user.id != chat.userInfo.id) 
                                                small.inner-name #{chat.userInfo.fullName}
                                            if (chat.images.length > 0)
                                                .inner-image.mr-2 
                                                    each image in chat.images 
                                                        div
                                                            img(src=image)
                                            if (chat.content)
                                                .inner-content #{chat.content}
                                                
                            .inner-preview
                                div(class="custom-file-container" data-upload-id="image-upload")
                            .inner-foot 
                                form(
                                    action=''
                                    class='inner-form'
                                )
                                    label(class='btn mb-0' for='file-upload-with-preview-image-upload')
                                        i(class="fa-regular fa-image")
                                    span(class='btn btn-icon')
                                        i(class="fa-regular fa-face-grin-beam")

                                    input(
                                        type='text'
                                        placeholder='Aa'
                                        name='content'
                                        autocomplete='off'
                                    )

                                    button(class="btn btn-secondary ml-2 mr-2")
                                        i(class="fa-regular fa-paper-plane")
                                    
    div(class="tooltip" role="tooltip") 
        emoji-picker(class='light')

 
block script                     
    script(type='module' src="/js/chat.js") 