extends ../../layouts/default.pug 
include ../../mixins/notification-error.pug
include ../../mixins/notification-success.pug
include ../../mixins/tree-level-category.pug

block main 
    if (roles.permission.includes('article-category_edit'))
        +notification-error(messages.error)
        +notification-success(messages.success)

        h1(class="mb-4") Chỉnh sửa danh mục bài viết
        form(
            action=`/admin/articles-category/edit/${articleCategory.id}?_method=PATCH`
            method="POST"
            id="form-edit-article-category"
        )

            div(class="form-group")
                label(for="title") Tiêu đề
                input(
                    type="text" 
                    class="form-control"
                    id="title"
                    name="title"
                    placeholder="Tên danh mục..."
                    value=articleCategory.title
                    required
                )

            div(class="form-group")
                label(for="parentId") Danh mục cha
                select(
                    class="form-control"
                    id="parentId"
                    name="parentId"
                )
                    option(
                        value=""
                    ) --Chọn danh mục cha --
                    +tree-level-category(parentsCategory, 1, articleCategory.parentId)    


            div(class="form-group")
                label(for="description") Mô tả
                textarea(
                    class="form-control text-mce"
                    id="description"
                    name="description"
                    placeholder="Mô tả..."
                    rows="5"
                ) #{articleCategory.description}

            div(class="form-group")
                label(for="position") Vị trí
                input(
                    type="number"
                    class="form-control"
                    id="position"
                    name="position"
                    min="0"
                    placeholder="Tự động tăng"
                    value=articleCategory.position
                )

            div(class="form-check form-check-inline")
                    input(
                        class="form-check-input" 
                        type="radio" 
                        name="status" 
                        id="active" 
                        value="active"
                        checked = (articleCategory.status == 'active' ? true : false)
                    ) 
                    label(for="active" 
                    class="form-check-label"
                    ) Hoạt động
            div(class="form-check form-check-inline")
                    input(
                        class="form-check-input" 
                        type="radio" 
                        name="status" 
                        id="inactive" 
                        value="inactive"
                        checked = (articleCategory.status == 'inactive' ? true : false)
                    ) 
                    label(for="inactive" 
                    class="form-check-label"
                    ) Dừng hoạt động
            br
            button(type="submit" class="btn btn-primary mt-2") Cập nhật
    else    
        div Không được cấp quyền truy cập trang này, liên hệ <a href='https://www.facebook.com/khuongminhminh.hoang'>Hoàng Minh Khương</a> để được cấp quyền