extends ./../../layouts/default.pug
include ./../../mixins/form-search.pug
include ./../../mixins/pagination.pug
include ./../../mixins/notification-success.pug
include ./../../mixins/notification-error.pug

block main 
    if (roles.permission.includes('article_restore'))
        h1(class="mb-4") Danh sách bài viết đã xóa 
        
        //- notification
        +notification-success(messages.success)
        +notification-error(messages.error)

        //- Filter
        .card.bg-light.mb-3
            .card-header Tìm kiếm
            .card-body
                .row 
                    //- form tìm kiếm
                    .col-6
                        +form-search(keyword)

        //- List products
        .card.bg-light.mb-3
            .card-header Danh sách
            .card-body
                table(class="table table-sm")
                    thead
                        tr
                            th(class='text-center') STT
                            th(class='text-center') Hình ảnh 
                            th(class='text-left') Tiêu đề
                            th(class='text-center') Trạng thái
                            th(class='text-left') Người xóa
                            if (roles.permission.includes('article_edit') || roles.permission.includes('article_delete'))
                                th(class='text-center') Hành Động
                    tbody
                        //- for như js
                        each item, index in articles
                            tr      
                                td(class='text-center') #{index + 1}
                                td(class='text-center') 
                                    img(src=item.thumbnail
                                        alt="Ảnh sản phẩm đã xóa"
                                        width="100px"
                                        style="aspect-ratio: 4/3"
                                    )
                                td(class='text-left') #{item.title}
                                //- if else như js
                                td(class='text-center') 
                                    if (item.status == 'active')
                                        a( 
                                            href='javascript:;'
                                            class="badge badge-success col-10"
                                        ) Hoạt động
                                    else
                                        a(
                                            href='javascript:;'
                                            class="badge badge-danger col-10"
                                        ) Dừng hoạt động

                                if (item.accountFullName)
                                    td 
                                        p #{item.accountFullName} - #{item.deleteAt}
                                else 
                                    td Hệ thống

                                td(class='text-center') 
                                    if (roles.permission.includes('article_edit'))
                                        button(
                                            type="button" 
                                            class="btn btn-info btn-sm mr-1"
                                            data-id=item._id
                                            restored-button
                                        ) Khôi phục
                                    if (roles.permission.includes('article_delete'))
                                        button(
                                            type="button" 
                                            class="btn btn-danger btn-sm"
                                            data-id=item._id 
                                            deleted-permanent-button
                                        ) Xóa vĩnh viễn

        //- Pagination
        +pagination(pagination)

        form(
            id="form-restored"
            method="POST"
            action=""
            path=`${prefixAdmin}/trash/articles`
        )

        form(
            id="form-deleted-permanent"
            method="POST"
            action=""
            path=`${prefixAdmin}/trash/articles`
        )

        script(src="/admin/js/trash.js")
    else 
        div Không được cấp quyền truy cập trang này, liên hệ <a href='https://www.facebook.com/khuongminhminh.hoang'/>Hoàng Minh Khương</a> để được cấp quyền