extends ./../../layouts/default.pug
include ./../../mixins/form-search.pug
include ./../../mixins/pagination.pug
include ./../../mixins/notification-success.pug
include ./../../mixins/notification-error.pug

block main 
    if (roles.permission.includes('product_restore'))
        h1(class="mb-4") Danh sách sản phẩm đã xóa 
        
        //- notification
        +notification-success(messages.success)
        +notification-error(messages.error)

        //- Filter
        .card.bg-light.mb-3
            .card-header Tìm kiếm
            .card-body
                .row 
                    //- form tìm kiếm
                    .col-6
                        +form-search(productName)

        //- List products
        .card.bg-light.mb-3
            .card-header Danh sách
            .card-body
                table(class="table table-sm")
                    thead
                        tr
                            th(class='text-center') STT
                            th(class='text-center') Hình ảnh 
                            th(class='text-left') Tiêu đề
                            th(class='text-center') Giá
                            th(class='text-center') Trạng thái
                            th(class='text-left') Người xóa
                            th(class='text-center') Hành Động
                    tbody
                        //- for như js
                        -for(let i = 0; i < products.length; ++i)
                            tr      
                                td(class='text-center') #{i + 1}
                                td(class='text-center') 
                                    img(src=products[i].thumbnail
                                        alt="Ảnh sản phẩm đã xóa"
                                        width="100px"
                                        style="aspect-ratio: 4/3"
                                    )
                                td(class='text-left') #{products[i].title}
                                td(class='text-center') #{products[i].price}$
                                //- if else như js
                                td(class='text-center') 
                                    if(products[i].status == 'active')
                                        a( 
                                            href='javascript:;'
                                            class="badge badge-success"
                                        ) Hoạt động
                                    else
                                        a(
                                            href='javascript:;'
                                            class="badge badge-danger"
                                        ) Dừng hoạt động

                                if (products[i].accountFullName)
                                    td 
                                        p #{products[i].accountFullName}
                                        p #{products[i].deleteAt}
                                else 
                                    td Hệ thống

                                td(class='text-center') 
                                    button(
                                        type="button" 
                                        class="btn btn-info btn-sm mr-1"
                                        data-id=products[i]._id
                                        restored-button
                                    ) Khôi phục

                                    button(
                                        type="button" 
                                        class="btn btn-danger btn-sm"
                                        data-id=products[i]._id 
                                        deleted-permanent-button
                                    ) Xóa vĩnh viễn

        //- Pagination
        +pagination(pagination)

        form(
            id="form-restored"
            method="POST"
            action=""
            path=`${prefixAdmin}/trash/products`
        )

        form(
            id="form-deleted-permanent"
            method="POST"
            action=""
            path=`${prefixAdmin}/trash/products`
        )

        script(src="/admin/js/trash.js")
    else 
        div Không được cấp quyền truy cập trang này, liên hệ <a href='https://www.facebook.com/khuongminhminh.hoang'/>Hoàng Minh Khương</a> để được cấp quyền