mixin form-search()
    form(
        id='form-search'
        action='/search'
        method='GET'
    )
        .input-group.input-group-sm
            input(
                type="text" 
                class="form-control sm"     
                placeholder="Tìm kiếm sản phẩm..." 
                name="keyword"
                value=keyword || undefined
            )

            .input-group-append
                button(
                    type="submit" 
                    class=`btn btn-success`
                ) 
                    i(class="fa-solid fa-magnifying-glass")