mixin product-item(product)
    .col-2.mb-2
        a(href=`/products/detail/${product.slug}` card-product)
            .product-item
                .inner-image 
                    img(
                        src = product.thumbnail 
                        alt = product.title 
                    )
                    if (product.featured)
                        .inner-featured nổi bật
                
                .inner-content
                    .inner-title #{product.title}
                    .inner-price-new(money) #{(product.price * (100 - product.discountPercentage)/100).toFixed(0)}đ
                    .inner-price-old(money) #{product.price}đ
                    .inner-discount #{product.discountPercentage}% GIẢM