extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/notification-error.pug

block main 
    +notification-error(messages.error)

    .container.my-5 
        .row.justify-content-center
            .col-6
                h2(class='text-center') Cập nhật mật khẩu mới
                form(
                    action=`/user/password/reset`
                    method='POST'
                )
                    div(class="form-group")
                        label(for="password") Mật khẩu mới <span class='text text-danger'>*</span>
                        input(
                            type="password" 
                            class="form-control"
                            id="password"
                            name="password"
                            placeholder='********'
                            required
                        )

                    div(class="form-group")
                        label(for="confirm-password") Xác nhận mật khẩu <span class='text text-danger'>*</span>
                        input(
                            type="password" 
                            class="form-control"
                            id="confirm-password"
                            name="confirm-password"
                            placeholder='********'
                            required
                        )

                    div(class="form-group")
                        button(type='submit' class='btn btn-info btn-block') Đổi mật khẩu
                    hr.my-4