extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/notification-error.pug

block main 
    +notification-error(messages.error)

    .container.my-5 
        .row.justify-content-center
            .col-6
                h2(class='text-center') Xác thực email
                form(
                    action=`/user/password/forgot`
                    method='POST'
                )
                    div(class="form-group")
                        label(for="email") Email <span class='text text-danger'>*</span>
                        input(
                            type="email" 
                            class="form-control"
                            id="email"
                            name="email"
                            placeholder="email@example.com"
                            required
                        )

                    div(class="form-group")
                        button(type='submit' class='btn btn-primary btn-block') <i class="fa-regular fa-paper-plane" style='color:#fff'></i> Gửi mã OTP
                    hr.my-4