extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/notification-error.pug

block main 
    +notification-error(messages.error)

    .container.my-5 
        .row.justify-content-center
            .col-6
                h2(class='text-center') Nhập mã OTP
                form(
                    action=`/user/password/otp`
                    method='POST'
                )
                    div(class="form-group")
                        label(for="email") Email <span class='text text-danger'>*</span>
                        input(
                            type="email" 
                            class="form-control"
                            id="email"
                            name="email"
                            value=email
                            readonly
                        )

                    div(class="form-group")
                        label(for="otp") Mã OTP <span class='text text-danger'>*</span> (
                            span(class='count-down') 60
                            span )s
                        input(
                            type="text" 
                            class="form-control"
                            id="otp"
                            name="otp"
                            placeholder="Ví dụ: 22334455"
                            required
                        )

                    div(class="form-group")
                        button(type='submit' class='btn btn-primary btn-block' confirm-in-time) Xác thực
                    hr.my-4